<p class="text-center text-muted">© Copyright 2016 by Air | Technical support by <a style="font-size: 14px; color: blue;" href="https://www.yelp.com/developers?country=US">Google Books API<i class="fa fa-google" aria-hidden="true"></i>
</a></p>