<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 
  </head>
  <script>
    var app = angular.module('bookManageApp', []);

    app.controller('bookManageCtrl', function($scope) {
        $scope.myBooks = <%-JSON.stringify(myBooks)%>;
    });

    $(document).ready(function() {
              
        $(document).ajaxStart(function(){
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function(){
            $("#wait").css("display", "none");
        });
        
        var myBooks = <%-JSON.stringify(myBooks)%>;
        console.log(myBooks);

        $("#searchForm").submit(function(ev) {
           ev.preventDefault();
           
           $.ajax({
               type: $("#searchForm").attr("method"),
               url: $("#searchForm").attr("action"),
               data: $("#searchForm").serialize(),
               success: function(data) {
                   console.log(JSON.stringify(data));
                //   alert("Add <<" + data.bookInfo.bookName + ">> success!");
                   var scope = angular.element($("#my_all_books")).scope();
                    scope.$apply(function(){
                        scope.myBooks.push(data);
                    })
                   
               },
               error: function(msg) {
                   alert(msg.responseText);
               }
           });
        });
    });
  </script>
  <body>
    <header>
      <% include partials/header %>  
    </header>  
    <div class="container"  ng-app="bookManageApp" ng-controller="bookManageCtrl">
        <ul class="nav nav-pills">
            <li class="active"><a data-toggle="pill" href="#my_all_books">My All Books</a></li>
            <li><a data-toggle="pill" href="#my_requests">My Requests</a></li>
            <li><a data-toggle="pill" href="#requests_for_me">Requests for Me</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="my_all_books" class="tab-pane fade in active">
                <form class="searchbox" id="searchForm" action="/addbook" method="post">
                    <input type="search" placeholder="Search Book by Name or Author" name="bookQuery" required />
                    <button type="submit" value="search">&nbsp;<i class="fa fa-plus fa-2x" aria-hidden="true"></i></button>
                </form>
                <div class="sctrollable-div">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>From</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="book in myBooks">
                                <td>{{$index}}</td>
                                <td><img class="bookCover" ng-src="{{book.bookInfo.coverUrl}}"></img></td>
                                <td>{{book.bookInfo.bookName}}</td>
                                <td>{{book.bookInfo.currentState.preOwner}}</td>
                            </tr>    
                        </tbody>        
                    </table>    
                </div>    
            </div>
            <div id="my_requests" class="tab-pane fade">
                <h3>My Requests</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="requests_for_me" class="tab-pane fade">
                <h3>Requests for Me</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            
        </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
    <div id="wait" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px;"><img src='images/loading.gif' width="64" height="64" /></div>
  </body>
</html>